[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest-apistellar = "*"
pytest-asyncio = "*"
pytest = "*"
toolkity = {editable = true,path = "."}

[packages]
python-json-logger = "*"
redis = "*"
kafka-python = "*"
requests = "*"
future = "*"
markdown = "*"

[requires]
python_version = "3.6"
